.tabActive {
  background: var(--mantine-color-blue-6);
  color: white;
}

.tabInactive {
  color: var(--mantine-color-dimmed);
}

.tabInactive:hover {
  color: var(--mantine-color-text);
  background: var(--mantine-color-default-hover);
}

.tabContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60px;
}
